/******************************************************************************
**************************       image      ***********************************
******************************************************************************/


/******************************************************************************
**************************       Texte      ***********************************
******************************************************************************/
body{
    background-color: #333;
    background-image:url("fondsatis.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'cyberfont';
    font-size: 20px;
    line-height: 1.5;
    margin: 10;
    padding: 10;
}


div.element {
    -webkit-backdrop-filter: blur(15px);
    /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    text-align: left;
    display: block;
    width: 60%;
    margin: auto;
    padding: 40px;
    height: auto;
  }

p.date{
    font-size: 12px;
    color: #999;
    font-style: italic;
}

a{
    color: #333;
    text-decoration: none;
    text-decoration: underline;
}


/******************************************************************************
**************************       Titre      ***********************************
******************************************************************************/
h1{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}