/******************************************************************************
**************************       image      ***********************************
******************************************************************************/


/******************************************************************************
**************************       Texte      ***********************************
******************************************************************************/
body{
    background-color: #333;
    background-image:url("fondsatis.jpg");
}

p.date{
    font-size: 12px;
    color: #999;
    font-style: italic;
}

a{
    color: #333;
    text-decoration: none;
    text-decoration: underline;
}


/******************************************************************************
**************************       Titre      ***********************************
******************************************************************************/
h1{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}